<tr class="delete_bigbanner_<%=bigbanner.id%>">
  <td>
    <%= link_to bigbanner.title, admin_bigbanner_path(bigbanner)%>
  </td>
  <td>
    <%= bigbanner.subtitle%>
  </td>
  <td>
    <%=status_converter(bigbanner.status, correct: "Active", incorrect: "Inactive")%>
  </td>
  <td>
    <%=form_for([:admin, bigbanner], remote: true) do |f|%>
      <%=link_to admin_bigbanner_path(bigbanner), title: "View" do %>
        <i class="fa fa-eye btn-view"></i>
      <%end%>
      <%=link_to edit_admin_bigbanner_path(bigbanner), title: "Edit" do %>
        <i class="fa fa-pencil btn-edit"></i>
      <%end%>
      <%=link_to admin_bigbanner_path(bigbanner.id), title: "Delete", method: :delete, data: { confirm: "Are Sure You To Delete ?"}, remote: true do%>
        <i class="fa fa-remove btn-remove"></i>
      <%end%>
    <%end%>
  </td>
</tr>
