<div class="bigbanner-form">
  <%=form_for([:admin, bigbanner], remote: true )do |f|%>
  <div class="container">
    <div class="row">

      <div class="col-sm-6">
        <div class="form-group">
          <div class="">
            <label for="example-text-input" class="">Title</label>
            <%=f.text_field :title, class: "form-control", placeholder: "bigbanner Name"%>
          </div>
        </div>
      </div>
      
      <div class="col-sm-6">
        <div class="form-group">
          <div class="">
            <label for="example-text-input" class="">Subtitle</label>
            <%=f.text_field :subtitle, class: "form-control", placeholder: "bigbanner Name"%>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
            <div class="control-group file-upload" id="file-upload1">
              <div class="image-box text-center"><p>Upload Image</p><img src="" alt=""></div>
              <div class="controls">
                <%=f.file_field :image%>
              </div>
            </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <div class="">
            <%=f.submit class: "btn btn-info",id: "create-bigbanner"%>
          </div>
        </div>
      </div>
    </div>
    </div>
  <%end%>
</div>
