$("input#bigbanner_bigbanner_name").val("");
$("input#bigbanner_bigbanner_qty").val("");
$("input#bigbanner_bigbanner_price").val("");

$("#bigbanner-errors").html("<br><%= j render partial: 'layouts/flash_errors', locals: {flash: :flash}%>");
