$("input#bigbanner_bigbanner_name").val("");
$("input#bigbanner_bigbanner_price").val("");
$("input#bigbanner_bigbanner_qty").val("");
$("input#bigbanner_properties_attributes_0_color").val("");
$("input#bigbanner_properties_attributes_0_weight").val("");
$("input#bigbanner_properties_attributes_0_voltage").val("");
$("select#bigbanner_brand_id").val("");
$("select#bigbanner_type_id").val("");
$("#bigbanner-errors").html(" ");
$("#bigbanner-success").html("<%= custom_flash_message%>");
$("#bigbanner-index").append("<%=j render(@bigbanner)%>");
$(function() {
  $('.delete_bigbanner_<%=@bigbanner.id%>').submitOnCheck();
});

$('.delete_bigbanner_<%=@bigbanner.id%>').submitOnCheck();
