<%@bigbanners.each do |banner|%>
  <section id="tp_banner_1" class="tp-banner-full tp-banner" style="margin-top: 150px;">
    <div class="container">
      <div class="tp-content col-lg-6 col-md-8 col-sm-8 col-xs-8">
        <h3 class="tp-animate-keyframe-left-right"><%=banner.title%></h3>
        <span class="tp-animate-zoom-left-right"><%=banner.subtitle%></span>
        <div class="tp-action-slider">
          <a href="/products" class="tp-btn tp-btn-bg-accent tp-btn-icon-bg tp-animate-zoom-right-left">SHOP NOW <i class="fa fa-angle-double-right"></i></a>
        </div>
      </div>
      <div class="tp-img-banner tp-img-absolute-banner col-lg-6 col-md-4 col-sm-4 col-xs-4 tp-animate-zoom">
        <img src="<%=banner.image%>" alt="image banner full" class="">
      </div>
    </div>
  </section>
<%end%>
