<div class="container">
    <h3 class="title-homepage-left" style="margin-top: 50px;">lastest News</h3>
    <div class="lastest-news--three-col">
        <div class="row">
          <%@blogs.each do |blog|%>
            <div class="col-md-4 col-sm-4 col-lg-4">
                <div class="lastest-news-item">
                    <div class="action-image">
                        <%=link_to blog_path(blog) do %>
                          <img src="<%=blog.image%>" alt="lastest news">
                        <%end%>
                        <div class="ovrly"></div>
                        <div class="buttons">
                          <%=link_to blog_path(blog) do%>
                            <i class="fa fa-link"></i>

                          <%end%>

                            <a href="<%=blog.image%>" class="btn-search" data-rel="prettyPhoto">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                    <div class="time"><%=blog.created_at%></div>
                    <h3>
                      <%=link_to blog.title, blog_path(blog)%>
                    </h3>
                    <p>
                      <%=raw(blog.description.truncate(200))%>
                    </p>
                </div>
            </div>
          <%end%>
        </div>
        <%=link_to "See More", blogs_path, class: "btn btn-info", style: "border: none; color: white;"%>
    </div>

</div>
