<section id="icon_box_guarantee">
	<div class="container">
		<div class="icon-box icon-box--left">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="icon-box__item">
					<i class="fa fa-truck"></i>
					<div class="icon-box__item-content">
						<h3><a href="#">FREE SHIPPING</a></h3>
					</div>
				</div>
			</div><!-- end item -->
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="icon-box__item">
					<i class="fa fa-comments"></i>
					<div class="icon-box__item-content">
						<h3><a href="#">CUSTOMER SUPPORT</a></h3>
					</div>
				</div>
			</div><!-- end item -->
		</div>
	</div>
</section>
<footer class="footer--style02 footer--has-sidebar">
    <div class="footer__copyright">
    	<div class="footer-bar">
    		<div class="container">
    			<div class="copyright">
    				<p>© 2018 <a href="http://www.tsghobbycambodia.com/" target="_blank">Tsghobbycambodia</a>. All Rights Reserved And Designed By <a href="http://www.panhara.work">Forcambodia</a></p>
    			</div>
    		</div><!--container-->
    	</div><!--End footer bar-->
    </div>

    <div class="back-to-top">
    	<i class="fa fa-angle-up"></i>
    </div>
</footer>
