<header class="header">
  <div class="topbar">
		<div class="container">
			<div class="topbar__left">
				<div class="social_links">
        	<ul class="social-links-menu">
            <%@settings.limit(5).each do |setting|%>
              <%setting.socials.each do |social|%>
          		  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10">
          			   <a href="<%=social.url%>"><span class="screen-reader-text"><%=social.socialm.capitalize%></span><i class="fa fa-<%=social.socialm%>"></i></a>
          		  </li>
              <%end%>
            <%end%>
        	</ul>
        </div>
			</div>
		</div>
		<!-- container -->
	</div>
	<!-- topbar -->

	<div class="mainbar">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4 hidden-xs text-left">
					<div class="search">
            <%=search_form_for(@search) do |f|%>
              <%=f.text_field :product_name_cont, class: "search__field",placeholder: "Search Here"%>
          		<button type="submit" class="search__submit"><i class="fa fa-search"></i></button>
            <%end%>
          </div>
				</div>

				<div class="col-md-6 col-sm-4 hidden-xs">
					<div class="logo">
          	<a href="/">
              <%@settings.each do |image|%>
          		  <img src="<%=image.image%>" alt="logo Tsg" style="width: 27%;" id="image">
              <%end%>
          	</a>
          </div>
				</div>
			</div>
		</div>
		<!-- container -->
	</div>
	<!-- mainbar -->

	<div class="navbar">
		<div class="container">
			<div class="header-mobile">
      	<div class="open-menu-btn">
      		<span></span>
      		<span></span>
      		<span></span>
      	</div>
      </div>
      <nav class="main-nav">
    	<ul class="main-menu">
        <li class="tp-activated">
          <a href="/">HOME</a>
        </li>

        <li class="tp-activated">
          <%=link_to "Products", products_path%>
        </li>

        <li class="tp-activated">
          <%=link_to "Parts & Accessories", sparparts_path%>
        </li>

        <li class="tp-activated">
          <%=link_to "News", blogs_path%>
        </li>

        <li class="tp-activated">
          <%=link_to "About Us",  aboutus_path%>
        </li>

        <li class="tp-activated">
          <%=link_to "Contact Us",  new_contact_path%>
        </li>


    	</ul><!--menu-->

      <div class="hidden-lg hidden-md tp-connect-different">
        <div class="social_links">
        	<ul class="social-links-menu">
          	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10">
            	<a href="https://facebook.com/"><span class="screen-reader-text">Facebook</span><i class="fa fa-facebook"></i></a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11">
          		<a href="https://twitter.com/"><span class="screen-reader-text">Twitter</span><i class="fa fa-twitter"></i></a>
          	</li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12">
            	<a href="https://plus.google.com/u/0/"><span class="screen-reader-text">G Plus</span><i class="fa fa-google-plus"></i></a>
            </li>
          	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12">
            	<a href="https://www.instagram.com/"><span class="screen-reader-text">Instagrams</span><i class="fa fa-instagram"></i></a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12">
            	<a href="https://www.pinterest.com/"><span class="screen-reader-text">Pinterest</span><i class="fa fa-pinterest-p"></i></a>
          	</li>
          </ul>
        </div>

      </div>
      </nav>
    </div>
  </div>
</header>
