<div class="container tab-product-03">
  <!-- Nav tabs -->
  <div class="nav-tab-product-03">
    <h3>Products</h3>
    <ul class="nav nav-tabs" role="tablist">
      <%@types.each do |type|%>
        <li role="presentation" class="type-<%=type.id%>"><a href="#<%=type.type_name.downcase.delete(' ')%>" aria-controls="<%=type.type_name.downcase.delete(' ')%>" role="tab" data-toggle="tab"><%=type.type_name.upcase%></a></li>
      <%end%>
    </ul>
    <%=link_to types_path,class:"view-cate" do %>
      View Types <i class="fa fa-angle-double-right"></i>
    <%end%>
  </div>

  <!-- Tab panes -->

  <div class="tab-content tab-content-product-03">
    <%@types.each do |type|%>
      <div role="tabpanel" class="type-<%=type.id%> tab-pane" id="<%=type.type_name.downcase.delete(' ')%>">
        <div class="row">
          <%type.products.each do |product|%>
            <div class="col-md-4 col-sm-6 col-xs-6 tab-item-pr-03">
            <div class="product tab-item">
              <%=link_to product_path(product) do%>
                <img src="<%=product.image%>" alt="product tab item" style="width: 195px;height: 195px;">
              <%end%>
              <div class="content-item">
                <h3>
                  <%=link_to product_path(product) do%>
                    <%=product.product_name%>
                  <%end%>
                </h3>
                <div class="price">
                    <span class="woocommerce-Price-amount amount"><%=number_to_currency(product.product_price)%></span>
                </div>
                <div class="star-rating">
                    <span>
                        <strong class="rating">4</strong>
                         out of 5,
                    </span>
                </div>
                <%=link_to product_path(product),style: "color: black;" do%>
                  <span>|</span> Detail
                <%end%>
              </div>
            </div>
          </div>
          <%end%>
        </div>
      </div>
    <%end%>
    <%=link_to "See More", products_path, class: "btn btn-info", style: "border: none; color: white;"%>
  </div>
</div>
