<section id="tp_banner_2" class="tp-banner-half-img">
  	<div class="container">
  		<div class="row">
        <%@banners.each do |banner|%>
  			<div class="tp-box-banner-content">
      				<div class="col-md-6 col-sm-12 col-xs-12 tp-banner-yellow tp-banner-item">
      					<div class="tp-content">
      						<div class="tp-content-detail">
      							<h3 class="tp-animate-keyframe-left-right" id="banner-title"><%=banner.title%></h3>
      							<span class="tp-animate-top-bottom" id="banner-subtitle"><%=banner.subtitle%></span>
                    <%=link_to products_path, class:"tp-btn tp-animate-keyframe-left-right" do%>
                      View Now
                      <i class="fa fa-angle-double-right"></i>
                    <%end%>
      						</div>
      						<div class="tp-img-banner tp-animate-keyframe-right-left">
      							<img src="<%=banner.image%>" alt="banner 1 image ">
      						</div>
      					</div>
      				</div><!-- end item banner -->
  			</div>
        <%end%>
  		</div>
  	</div>
  </section>
