<section id="tp-slider-1">
  <!-- <div class="container"> -->
  <div class="tp-all-slider tp-slider-tpl swiper-container">
      <div>
        <%@slideshows.each do |slide| %>
          <div class="tp-item-slider tp-bg-img-h-100">
            <div class="">
              <img src="<%=slide.background%>" alt="image bg">
            </div>
          </div><!-- End item slider -->
        <%end%>
      </div>
    </div>
  <!-- </div> -->
</section>
