<div class="swiper-container tp-slider-tpl" data-params='{"slidesPerView":4,
      "loop":true,
      "paginationClickable": true,
      "spaceBetween": 30,
      "nextButton":".tp-button-next",
      "prevButton":".tp-button-prev",
      "breakpoints":{"480":{"slidesPerView":1},"767":{"slidesPerView":2},"991":{"slidesPerView":3}}
      }'>
      <div class="swiper-wrapper">
        <%@new_products.each do |product|%>
          <%if product.status%>
          <div class="swiper-slide">
            <div class="product type-product has-post-thumbnail">

              <div class="product-image">
                <%=link_to product_path(product) do%>
                  <img style="width: 270px; height: 280px;" src="<%=product.image%>" alt="shop item">
                <%end%>
                <div class="product-action">
                  <%=link_to product_path(product), class: "tp-btn-wishlist" do %>
                    <i class="fa fa-heart-o"></i>
                  <%end%>
                  <%=link_to product_path(product), class: "btn-quickview" do %>
                    <i class="fa fa-search-plus"></i>
                  <%end%>
                  <%=link_to product_path(product), class: "tp-btn-compare" do %>
                    <i class="fa fa-list-ul"></i>
                  <%end%>
                </div>
              </div>

              <h3>
                <%=link_to product.product_name, product_path(product)%>
              </h3>

              <div class="product-info">
                <div class="price">
                  <span class="woocommerce-Price-amount amount"><%=number_to_currency(product.product_price)%></span>
                </div>
              </div>
              <div class="star-rating">
                <span>
                    <strong class="rating">4</strong>
                     out of 5,
                </span>
              </div>
              <%=link_to "Review", product_path(product), class: "button add_to_cart_button"%>
            </div>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>
</div>
