<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#smartdevices" aria-controls="smart-devices" role="tab" data-toggle="tab">Smart devices</a></li>
  <li role="presentation"><a href="#watch" aria-controls="watches" role="tab" data-toggle="tab">Watches</a></li>
  <li role="presentation"><a href="#home-entertaiment" aria-controls="entertaiment" role="tab" data-toggle="tab">Home Entertaiment</a></li>
  <li role="presentation"><a href="#auto-device" aria-controls="auto" role="tab" data-toggle="tab">Auto’s device</a></li>
  <li role="presentation"><a href="#accessorie" aria-controls="accessories" role="tab" data-toggle="tab">Accessories</a></li>
</ul>

<!-- Tab panes -->
