<div class="container tab-product-03">
  <!-- Nav tabs -->
  <div class="nav-tab-product-03">
    <h3>New products</h3>
    <ul class="nav nav-tabs" role="tablist">
      <%@types.each do |type|%>
        <li role="presentation" class="type-<%=type.id%>"><a href="#<%=type.type_name.downcase%>" aria-controls="<%=type.type_name.downcase%>" role="tab" data-toggle="tab"><%=type.type_name.upcase%></a></li>
      <%end%>
    </ul>
    <%=link_to types_path,class:"view-cate" do %>
      View Cate <i class="fa fa-angle-double-right"></i>
    <%end%>
  </div>

  <!-- Tab panes -->

  <div class="tab-content tab-content-product-03">
    <%@types.each do |type|%>
      <div role="tabpanel" class="type-<%=type.id%> tab-pane" id="<%=type.type_name.downcase%>">
        <div class="row">
          <%type.products.each do |product|%>
            <div class="col-md-4 col-sm-6 col-xs-6 tab-item-pr-03">
            <div class="product tab-item">
              <a href="product-detail.html"><img  style="width: 195px; height: 232px;"src="<%=product.image%>" alt="product tab item"></a>
              <div class="content-item">
                <h3><a href="product-detail.html" class="title"><%=product.product_name%></a></h3>
                <div class="price">
                    <span class="woocommerce-Price-amount amount">$350.00 </span>
                    <del><span class="woocommerce-Price-amount amount">$450.00</span></del>
                </div>
                <div class="star-rating">
                    <span>
                        <strong class="rating">4</strong>
                         out of 5,
                    </span>
                </div>
                <a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i><span>|</span>Add to cart</a>
              </div>
            </div>
          </div>
          <%end%>
        </div>
      </div>
    <%end%>
  </div>
</div>

<div class="container tab-product-03">
  <!-- Nav tabs -->
  <div class="nav-tab-product-03">
    <h3>New products</h3>
    <ul class="nav nav-tabs" role="tablist">
      <%@types.each do |type|%>
        <li role="presentation" class="<%=get_active(type.id)%>"><a href="#<%=type.type_name.downcase.delete(' ')%>" aria-controls="<%=type.type_name.downcase.delete(' ')%>" role="tab" data-toggle="tab"><%=type.type_name.upcase%></a></li>
      <%end%>
    </ul>
    <a href="#" class="view-cate">View Cate <i class="fa fa-angle-double-right"></i></a>
  </div>

  <!-- Tab panes -->
  <div class="tab-content tab-content-product-03">
    <%@products.each do |product|%>
      <div role="tabpanel" class="tab-pane active" id="<%=product.type.type_name.downcase.delete(' ')%>">
        <div class="">
          <div class="col-md-4 col-sm-6 col-xs-6 tab-item-pr-03">
            <div class="product tab-item">
              <%=link_to product_path(product) do%>
                <img src="<%=product.image%>" alt="product tab item" style="width: 150px;height: 150px;">
              <%end%>
              <div class="content-item">
                <h3>
                  <%=link_to product_path(product) do%>
                    <%=product.product_name%>
                  <%end%>
                </h3>
                <div class="price">
                    <span class="woocommerce-Price-amount amount"><%=number_to_currency(product.product_price)%></span>
                </div>
                <div class="star-rating">
                    <span>
                        <strong class="rating">4</strong>
                         out of 5,
                    </span>
                </div>
                <%=link_to product_path(product),style: "color: black;" do%>
                  <span>|</span> Show Detail
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>
