<header id="topnav">
    <div class="topbar-main">
        <div class="container">
            <div class="logo">
                <a href="index.html" class="logo"> <img src="assets/images/logo-sm.png" alt="" height="30"> </a>
            </div>
            <div class="menu-extras topbar-custom">
                <div class="search-wrap" id="search-wrap">
                    <div class="search-bar">
                        <input class="search-input" type="search" placeholder="Search" />
                        <a href="#" class="close-search toggle-search" data-target="#search-wrap"> <i class="mdi mdi-close-circle"></i> </a>
                    </div>
                </div>
                <ul class="list-inline float-right mb-0">

                  <li class="list-inline-item dropdown notification-list">
                    <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                      <%if current_admin_user%>
                        <img src="<%=current_admin_user.image%>" alt="Setting" class="rounded-circle">
                        <%="#{current_admin_user.firstname} #{current_admin_user.lastname}"%>
                      <%end%>
                    </a>
                      <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <%=link_to edit_admin_user_path(current_admin_user), :class=>"dropdown-item" do%>
                          <i class="fa fa-users text-muted"></i>
                          Profile
                        <%end%>

                        <%=link_to admin_settings_path, class: "dropdown-item" do%>
                          <i class="fa fa-cog text-muted"></i> Settings
                        <%end%>

                         <div class="dropdown-divider"></div>
                         <%=link_to destroy_admin_user_session_path, method: :delete, class: "dropdown-item" do%>
                          <i class="fa fa-sign-out text-muted"></i> Logout
                         <%end%>
                       </div>
                  </li>
                    <li class="menu-item list-inline-item">
                        <a class="navbar-toggle nav-link">
                            <div class="lines"> <span></span> <span></span> <span></span></div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="navbar-custom">
        <div class="container">
            <div id="navigation">
              <ul class="navigation-menu">
                <li class="has-submenu"> <a href="/admin"><i class="mdi mdi-view-dashboard"></i>Dashboard</a></li>
                <li>
                  <%=link_to admin_users_path do %>
                    <i class="mdi mdi-view-dashboard"></i>Administrator
                  <%end%>
                </li>

                <li class="has-submenu"> <a href="#"><i class="mdi mdi-buffer"></i>Content Management</a>
                  <ul class="submenu megamenu">
                    <li>
                      <ul>
                        <li>
                          <%=link_to "Slideshow", admin_slideshows_path%>
                        </li>
                        <li>
                          <%=link_to "Big Banner", admin_bigbanners_path%>
                        </li>
                        <li>
                          <%=link_to "Small Banner", admin_banners_path%>
                        </li>
                        <li>
                          <%=link_to "About", admin_abouts_path%>
                        </li>
                        <li>
                          <%=link_to "News", admin_blogs_path%>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>

                <li class="has-submenu"> <a href="#"><i class="mdi mdi-buffer"></i>Inventory</a>
                  <ul class="submenu megamenu">
                    <li>
                      <ul>
                        <li><%= link_to "Type", admin_types_path%></li>
                        <li><%= link_to "Brand", admin_brands_path%></li>
                        <li><%= link_to "Product", admin_products_path%></li>
                      </ul>
                    </li>
                  </ul>
                </li>

                <li class="has-submenu"> <a href="#"><i class="mdi mdi-buffer"></i>Parts & Accessories</a>
                  <ul class="submenu megamenu">
                    <li>
                      <ul>
                        <li><%= link_to "Brand Sparpart", admin_sparpartbrands_path%></li>
                        <li><%= link_to "Category", admin_categories_path%></li>
                        <li><%= link_to "Model", admin_modes_path%></li>
                        <li><%= link_to "Parts & Accessories", admin_items_path%></li>
                      </ul>
                    </li>
                  </ul>
                </li>
            </div>
        </div>
    </div>
</header>
