<tr class="delete_mode_<%=mode.id%>">
  <td>
    <%= link_to mode.mode_name, admin_mode_path(mode)%>
  </td>
  <td>
    <%=form_for([:admin, mode], remote: true) do |f|%>
      <%=link_to admin_mode_path(mode) do%>
        <i class="fa fa-eye btn-view"></i>
      <%end%>
      <%=link_to edit_admin_mode_path(mode) do%>
        <i class="fa fa-pencil btn-edit"></i>
      <%end%>
      <%=link_to admin_mode_path(mode.id), method: :delete, data: { confirm: "Are Sure You To Delete ?"}, remote: true do%>
        <i class="fa fa-remove btn-remove"></i>
      <%end%>
    <%end%>
  </td>
</tr>
