$("input#mode_model_name").val("")
$("input#mode_price").val("")
$("#mode-errors").html(" ");
$("#mode-success").html("<%= custom_flash_message%>");
$("#mode-index").append("<%=j render(@mode)%>");

$(function() {
  $('.delete_mode_<%=@mode.id%>').submitOnCheck();
});

$('.delete_mode_<%=@mode.id%>').submitOnCheck();
