<% title "News Promotion | tgshobbycambodia.com"%>

<div class="wrap-main wrap-main-02">
  <%=render "components/front/header"%>
    <div class="site-content-contain">
      <div id="content" class="site-content">
          <div class="wrap container">
              <div id="primary" class="content-area">
                  <nav class="woocommerce-breadcrumb" style="margin-top: 40px;">
                      <a href="#">Home</a>
                      Blog
                  </nav>

                  <div class="blog-list-page">
                      <div class="row">
                          <div class="blog-masonry">
                            <%@blogs.each do |blog|%>
                              <div class="blog-item blog-item--top-img">
                                  <div class="post-formats-wrapper">
                                      <a href="#" class="post-image">
                                          <img src="<%=blog.image%>" alt="blog list item">
                                      </a>
                                      <div class="buttons">
                                        <%=link_to blog_path(blog),class: "link" do%>
                                          <i class="fa fa-link"></i>
                                        <%end%>
                                          <a href="<%=blog.image%>" class="popup" data-rel="prettyPhoto">
                                              <i class="fa fa-search-plus"></i>
                                          </a>
                                      </div>
                                  </div>
                                  <div class="entry-content-wrapper">
                                      <div class="entry-header">
                                          <div class="entry-meta">
                                              <a href="#">
                                                  <span class="entry-date">
                                                  <i class="fa fa-calendar-check-o"></i> <%=blog.created_at%></span>
                                              </a>

                                          </div>
                                          <h2 class="entry-title">
                                            <%=link_to blog.title, blog_path(blog), class: "title-blog-list"%>
                                          </h2>
                                      </div>
                                      <div class="entry-content">
                                          <p>
                                            <%=raw(blog.description.truncate(200))%>
                                          </p>
                                      </div>
                                      <%=link_to "Read More",blog_path(blog), class: "btn"%>
                                  </div>
                              </div>
                            <%end%>
                          </div>

                      </div>

                  </div>
                  <%= paginate @blogs %>
              </div>
          </div>

      </div>
  </div>
</div>
<%=render "components/front/footer"%>
