<% title @blog.title%>
<% meta_description strip_tags(@blog.description)%>
<div class="wrap-main wrap-main-02">
  <%=render "components/front/header"%>
    <div class="site-content-contain" style="margin-bottom: 30px;">
        <div id="content" class="site-content">
            <div class="wrap">
                <div id="primary" class="content-area">
                    <div class="container">
                        <nav class="tp-breadcrumb">
                            <a href="#">Home</a>
                            <a href="#">Blog</a>
                            <%=@blog.title%>
                        </nav>
                        <div class="blog-detail-page">
                            <div class="introduction-with-image">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="single-featured-image-header">
                                            <a href="#">
                                                <img src="<%=@blog.image%>" alt="blog detail">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <h1 class="entry-title">
                                            <a href="#" class="title-blog-list"><%=@blog.title%></a>
                                        </h1>
                                        <div class="entry-meta">
                                            <a href="#">
                                                <span class="entry-date"><%=@blog.created_at%></span>
                                            </a>
                                        </div>
                                        <p>
                                          <%=raw(@blog.description)%>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<%=render "components/front/footer"%>
