<tr class="delete_item_<%=item.id%>">
  <td>
    <%= link_to item.item_name, admin_item_path(item)%>
  </td>
  <td>
    <%= item.sparpartbrand.brand_name%>
  </td>
  <td>
    <%= item.price%>
  </td>
  <td>
    <%=status_converter(item.status, correct: "Active", incorrect: "Inactive")%>
  </td>
  <td>
    <%=form_for([:admin, item], remote: true) do |f|%>
      <%=link_to admin_item_path(item), title: "View" do %>
        <i class="fa fa-eye btn-view"></i>
      <%end%>
      <%=link_to edit_admin_item_path(item), title: "Edit" do %>
        <i class="fa fa-pencil btn-edit"></i>
      <%end%>
      <%=link_to admin_item_path(item.id), title: "Delete", method: :delete, data: { confirm: "Are Sure You To Delete ?"}, remote: true do%>
        <i class="fa fa-remove btn-remove"></i>
      <%end%>
    <%end%>
  </td>
</tr>
