<div class="item-form">
  <%=simple_form_for([:admin, item], remote: true )do |f|%>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="">
            <label for="example-text-input" class="">Modal</label>
            <%=f.collection_select :mode_id, Mode.all, :id, :mode_name, {prompt: "Select Model"}, {class: "form-control"}%>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <div class="">
            <label for="example-text-input" class="">Brand</label>
            <%=f.collection_select :sparpartbrand_id, Sparpartbrand.all, :id, :brand_name, {prompt: "Select Brand"}, {class: "form-control"}%>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <div class="">
            <label for="example-text-input" class="">Type</label>
            <%=f.collection_select :category_id, Category.all, :id, :category_name, {prompt: "Select Category"}, {class: "form-control"}%>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <div class="">
            <label for="example-text-input" class="">item Name</label>
            <%=f.text_field :item_name, class: "form-control", placeholder: "item Name"%>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <div class="">
            <label for="example-text-input" class="">Price</label>
            <%=f.number_field :price, class: "form-control", placeholder: "Price"%>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <div class="">
            <label for="example-text-input" class="">Color</label>
            <%=f.number_field :color, class: "form-control", placeholder: "Color"%>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <div class="">
            <%=f.input :description, :class=>"c-input", id: "input1", :placeholder=>"Description", as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }%>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <label class="custom-control custom-checkbox">
          <%= f.check_box :status, class: "custom-control-input" %>
          <span class="custom-control-indicator"></span>Do you want to active your items ? Your items is <%=status_converter(@item.status, correct: "Active", incorrect: "Inactive")%>
        </label>
      </div>


      <div class="col-sm-12">
        <div class="form-group">
            <div class="control-group file-upload" id="file-upload1">
              <div class="image-box text-center"><p>Upload Image</p><img src="" alt=""></div>
              <div class="controls">
                <%=f.file_field :image%>
              </div>
            </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <div class="">
            <%=f.submit class: "btn btn-info",id: "create-item"%>
          </div>
        </div>
      </div>
    </div>
    </div>
  <%end%>
</div>
