$("input#item_item_name").val("");
$("input#item_item_price").val("");
$("select#item_brand_id").val("");
$("select#item_category_id").val("");
$("#item-errors").html("");
$("#item-success").html("<%= custom_flash_message%>");
$("#item-index").append("<%=j render(@item)%>");
$(function() {
  $('.delete_item_<%=@item.id%>').submitOnCheck();
});

$('.delete_item_<%=@item.id%>').submitOnCheck();
