<%=render "components/header"%>

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title-box">
              <div class="btn-group pull-right">
                  <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a href="#">items</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                  </ol>
              </div>
              <h4 class="page-title">items</h4>
          </div>
        </div>
      </div>
      <div class="row">

      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="card m-b-20">
            <div class="card-block">
              <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target=".bs-example-modal-lg">Add New</button>
              <br><br>
              <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title mt-0" id="myLargeModalLabel">New item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      </div>
                      <div class="modal-body">
                        <div class="col-12">
                          <div class="">
                            <div class="" id="items">
                              <div id="item-errors"></div>
                              <div id="item-success"></div>
                              <%= render partial: "item_form", locals: {item: @item}%>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>

              <table class="table">
                <thead class="thead-default">
                  <tr>
                    <th>item Name</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody id="item-index">
                  <%if @items.any?%>
                    <%= render @items%>
                  <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card m-b-20">
            <div class="card-block">

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

<%=render "components/footer"%>
