<%=render "components/header"%>

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title-box">
              <div class="btn-group pull-right">
                  <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a href="#">Manage Slide</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                  </ol>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="card m-b-20">
            <div class="card-block">
              <h3><%=@item.item_name.capitalize%> Details</h3>
              <ol>
                <li>item Price: <%=@item.price%></li>
                <hr>
                <li>Status: <%=status_converter(@item.status, correct: "Active", incorrect: "Inactive")%></li>
                <hr>
                <li>Image: <%=image_tag(@item.image, style: "width: 200px;")%></li>
                <hr>
                <li>Description: <%=raw(@item.description)%></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <%=link_to "Cancel", admin_items_path, class: "btn btn-danger"%>
      <%=link_to "Edit", edit_admin_item_path(@item), class: "btn btn-success"%>
    </div>
  </div>

<%=render "components/footer"%>
