<div class="banner-form">
  <%=form_for([:admin, banner], remote: true )do |f|%>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <div class="">
            <label for="example-text-input" class="">Title</label>
            <%=f.text_field :title, class: "form-control", placeholder: "Title"%>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <div class="">
            <label for="example-text-input" class="">Subtitle</label>
            <%=f.text_field :subtitle, class: "form-control", placeholder: "Subtitle"%>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
            <label>Image</label>
            <%=f.file_field :image, class: "filestyle", data_buttonname: "btn-secondary"%>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <div class="">
            <%=f.submit class: "btn btn-info",id: "create-banner"%>
          </div>
        </div>
      </div>
    </div>
    </div>
  <%end%>
</div>
