<tr class="delete_banner_<%=banner.id%>">
  <td>
    <%= link_to banner.title, admin_banner_path(banner)%>
  </td>
  <td>
    <%= banner.subtitle%>
  </td>
  <td>
    <%=status_converter(banner.status, correct: "Active", incorrect: "Inactive")%>
  </td>
  <td>
    <%=form_for([:admin, banner], remote: true) do |f|%>
      <%=link_to admin_banner_path(banner), title: "View" do %>
        <i class="fa fa-eye btn-view"></i>
      <%end%>
      <%=link_to edit_admin_banner_path(banner), title: "Edit" do %>
        <i class="fa fa-pencil btn-edit"></i>
      <%end%>
      <%=link_to admin_banner_path(banner.id), title: "Delete", method: :delete, data: { confirm: "Are Sure You To Delete ?"}, remote: true do%>
        <i class="fa fa-remove btn-remove"></i>
      <%end%>
    <%end%>
  </td>
</tr>
