$("input#banner_title").val("");
$("input#banner_subtitle").val("");
$("#banner-errors").html(" ");
$("#banner-success").html("<%= custom_flash_message%>");
$("#banner-index").append("<%= j render(@banner)%>");


  $(function() {
  	$('.delete_banner_<%=@banner.id%>').submitOnCheck();
  });

  $('.delete_banner_<%=@banner.id%>').submitOnCheck();
