<%=render "components/header"%>

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title-box">
              <div class="btn-group pull-right">
                  <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                  </ol>
              </div>
              <h4 class="page-title">Products</h4>
          </div>
        </div>
      </div>
      <div class="row">

      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="card m-b-20">
            <div class="card-block">
              <div class="product-form">
                <%=simple_form_for([:admin, @banner])do |f|%>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="">
                          <label for="example-text-input" class="">Title</label>
                          <%=f.text_field :title, class: "form-control", placeholder: "Type Name"%>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="">
                          <label for="example-text-input" class="">Subtitle</label>
                          <%=f.text_field :subtitle, class: "form-control", placeholder: "Type Name"%>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12">
                      <label class="custom-control custom-checkbox">
                        <%= f.check_box :status, class: "custom-control-input" %>
                        <span class="custom-control-indicator"></span>Do you want to active your banner ? Your banner is <%=status_converter(@banner.status, correct: "Active", incorrect: "Inactive")%>
                      </label>
                    </div>


                    <div class="col-sm-12">
                      <div class="form-group">
                          <div class="control-group file-upload" id="file-upload1">
                            <div class="image-box text-center"><p>Upload Image</p><img src="" alt=""></div>
                            <div class="controls">
                              <%=f.file_field :image%>
                            </div>
                          </div>
                      </div>
                    </div>

                    <div class="col-sm-12">
                      <div class="form-group">
                        <div class="">
                          <%=f.submit class: "btn btn-info"%>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

<%=render "components/footer"%>
