<tr class="delete_brand_<%=brand.id%>">
  <td>
    <%= link_to brand.brand_name, admin_brand_path(brand)%>
  </td>
  <td>
    <%=form_for([:admin, brand], remote: true) do |f|%>
      <%=link_to admin_brand_path(brand), title: "View" do %>
        <i class="fa fa-eye btn-view"></i>
      <%end%>
      <%=link_to edit_admin_brand_path(brand), title: "Edit" do %>
        <i class="fa fa-pencil btn-edit"></i>
      <%end%>
      <%=link_to admin_brand_path(brand.id), title: "Delete", method: :delete, data: { confirm: "Are Sure You To Delete ?"}, remote: true do%>
        <i class="fa fa-remove btn-remove"></i>
      <%end%>
    <%end%>
  </td>
</tr>
