$("input#brand_brand_name").val("");
$("input#brand_brand_qty").val("");
$("input#brand_brand_price").val("");

$("#brand-errors").html("<br><%= j render partial: 'layouts/flash_errors', locals: {flash: :flash}%>");
