$("input#brand_brand_name").val("");
$("#brand-errors").html(" ");
$("#brand-success").html("<%= custom_flash_message%>");
$("#brand-index").append("<%=j render(@brand)%>");


  $(function() {
  	$('.delete_brand_<%=@brand.id%>').submitOnCheck();
  });

  $('.delete_brand_<%=@brand.id%>').submitOnCheck();
