<div class="nested-fields">
  <h3>Product</h3>
  <div class="row">
    <div class="col-sm-12">
      <div class="">
        <div class="row">
          <div class="col-md-12">
            <%=link_to_remove_association "Remove", f, class: 'btn btn-danger'%>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <div class="">
                <%=f.label "Brand"%>
                <%=f.collection_select :brand_id, Brand.all,:id,:brand_name,{prompt: "Select Brand"},{class: "form-control"}%>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="">
                <%=f.label "Product Name"%>
                <%=f.text_field :product_name, class: "form-control"%>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="">
                <%=f.label "QTY"%>
                <%=f.number_field :product_qty, class: "form-control"%>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <div class="">
                <%=f.label "Price"%>
                <%=f.number_field :product_price, class: "form-control"%>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <div class="">
                <%=f.file_field :image, class: "filestyle", data_buttonname: "btn-secondary"%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <%=f.fields_for :properties do |property|%>
      <%=render "property_fields", :f => property%>
    <%end%>
    <%=link_to_add_association "Add Property", f, :properties, class: "btn btn-primary"%>
  </div>
</div>
