<div class="nested-fields" style="width: 100%;">
    <div class="container">
      <h3>Properties</h3>
      <div class="row">
        <div class="col-md-12">
          <%=link_to_remove_association "Remove", f, class: 'btn btn-danger'%>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="">
              <%=f.label :color%>
              <%=f.text_field :color, class: "form-control"%>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="">
              <%=f.label :weight%>
              <%=f.text_field :weight, class: "form-control"%>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="">
              <%=f.label :voltage%>
              <%=f.text_field :voltage, class: "form-control"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
