<div class="row">
    <div class="col-sm-12">
      <h4 class="mt-0 header-title">Quick Add</h4>
          <%=form_for([:admin, type], remote: true , html: { id: "form-horizontal", class: "form-horizontal form-wizard-wrapper"})do |f|%>
            <h3>Type</h3>
            <fieldset>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="txtFirstNameBilling" class="">Type</label>
                    <%=f.text_field :type_name, class: "form-control"%>
                  </div>
                </div>
              </div>
            </fieldset>

            <%=f.fields_for :products do |product|%>
              <%=render "product_fields", :f => product%>
            <%end%>


            <div class="form-group" style="margin-top: 20px;">
              <%=f.submit "Save", class:"btn btn-success"%>
              <%= link_to_add_association "Add Product", f, :products, class: "btn btn-primary"%>
            </div>
        <%end%>
    </div>
</div>
