<tr class="delete_type_<%=type.id%>">
  <td>
    <%= link_to type.type_name, admin_type_path(type)%>
  </td>
  <td>
    <%=form_for([:admin, type], remote: true) do |f|%>
      <%=link_to admin_type_path(type) do%>
        <i class="fa fa-eye btn-view"></i>
      <%end%>
      <%=link_to edit_admin_type_path(type) do%>
        <i class="fa fa-pencil btn-edit"></i>
      <%end%>
      <%=link_to admin_type_path(type.id), method: :delete, data: { confirm: "Are Sure You To Delete ?"}, remote: true do%>
        <i class="fa fa-remove btn-remove"></i>
      <%end%>
    <%end%>
  </td>
</tr>
