$("input#product_product_name").val("");
$("input#product_product_price").val("");
$("input#product_product_qty").val("");
$("input#product_properties_attributes_0_color").val("");
$("input#product_properties_attributes_0_weight").val("");
$("input#product_properties_attributes_0_voltage").val("");
$("select#product_brand_id").val("");
$("select#product_type_id").val("");
$("input#type_type_name").val("");
$("#type-errors").html(" ");
$("#type-success").html("<%= custom_flash_message%>");
$("#type-index").append("<%=j render(@type)%>");

$(function() {
  $('.delete_type_<%=@type.id%>').submitOnCheck();
});

$('.delete_type_<%=@type.id%>').submitOnCheck();
