<tr class="delete_product_<%=product.id%>">
  <td>
    <%= link_to product.product_name, admin_product_path(product)%>
  </td>
  <td>
    <%= product.product_price%>
  </td>
  <td>
    <%= product.product_qty%>
  </td>
  <td>
    <%=form_for([:admin, product], remote: true) do |f|%>
      <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
        <%= f.check_box :status, class: "custom-control-input" %>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">
          <%=f.submit "update", class: "btn btn-success"%>
        </span>
      </label>
    <%end%>
  </td>
  <td>
    <%=form_for([:admin, product], remote: true) do |f|%>
      <%=link_to admin_product_path(product), title: "View" do %>
        <i class="fa fa-eye btn-view"></i>
      <%end%>
      <%=link_to edit_admin_product_path(product), title: "Edit" do %>
        <i class="fa fa-pencil btn-edit"></i>
      <%end%>
      <%=link_to admin_product_path(product.id), title: "Delete", method: :delete, data: { confirm: "Are Sure You To Delete ?"}, remote: true do%>
        <i class="fa fa-remove btn-remove"></i>
      <%end%>
    <%end%>
  </td>
</tr>
