<%=render "components/header"%>

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title-box">
              <div class="btn-group pull-right">
                  <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                  </ol>
              </div>
              <h4 class="page-title">Products</h4>
          </div>
        </div>
      </div>
      <div class="row">

      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="card m-b-20">
            <div class="card-block">
              <div class="product-form">
                <%=simple_form_for([:admin, @type])do |f|%>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="">
                          <label for="example-text-input" class="">Product Name</label>
                          <%=f.text_field :type_name, class: "form-control", placeholder: "Type Name"%>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <div class="">
                          <%=f.submit class: "btn btn-info"%>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

<%=render "components/footer"%>
