<div class="fixed-left">
  <div class="accountbg" style="background: url('/bg-2.jpg');background-size: cover;"></div>
  <div class="wrapper-page account-page-full">
    <div class="card">
      <div class="card-block">
        <h3 class="text-center m-0"> <a href="index.html" class="logo logo-admin">Forcambodia</a></h3>
        <div class="p-3">
          <h4 class="text-muted font-18 m-b-5 text-center">Reset Password</h4>
          <p class="text-muted text-center">Enter your Email and instructions will be sent to you!</p>
          <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }, class: "form-horizontal m-t-30") do |f| %>
            <%= devise_error_messages! %>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>
            <div class="form-group row m-t-20">
              <div class="col-12 text-right">
                <%= f.submit "Unlock Account", class: "btn btn-primary w-md waves-effect waves-light" %>
              </div>
            </div>
          <%end%>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
    <div class="m-t-40 text-center">
      <p class="">© 2017 Forcambodia <i class="mdi mdi-heart text-danger"></i> by Chhouk Tit Panhara</p>
    </div>
  </div>

</div>
