<% title "Types | tgshobbycambodia.com"%>
<div class="wrap-main wrap-main-02">
  <%=render "components/front/header"%>
  <div class="site-content-contain">
    <div id="content" class="site-content">
        <div class="wrap container">
            <div class="row">
                <div class="col-md-9 col-md-push-3">
                    <div id="primary" class="content-area">
                        <nav class="woocommerce-breadcrumb" style="margin-top: 30px; margin-bottom: 30px;">
                            <a href="/">Home</a>
                            Shop
                        </nav>

                        <ul class="row products">
                          <%@typesofproducts.each do |product|%>
                              <li class="col-md-4 col-sm-6 col-xs-6 grid-item">
                                  <div class="product type-product has-post-thumbnail">
                                      <div class="product-image">
                                        <%=link_to product_path(product) do%>
                                          <img src="<%=product.image%>" alt="shop item">
                                        <%end%>

                                          <div class="product-action">
                                            <%=link_to product_path(product) do%>
                                              <i class="fa fa-heart-o"></i>
                                            <%end%>
                                            <%=link_to product_path(product) do%>
                                              <i class="fa fa-search-plus"></i>
                                            <%end%>
                                            <%=link_to product_path(product) do%>
                                              <i class="fa fa-list-ul"></i>
                                            <%end%>
                                          </div>
                                      </div>
                                      <h3>
                                        <%=link_to product.product_name, product_path(product)%>
                                      </h3>
                                      <div class="price">
                                          <span class="woocommerce-Price-amount amount"><%=number_to_currency(product.product_price)%></span>
                                      </div>
                                      <div class="product-info">
                                          <div class="star-rating">
                                              <span>
                                                  <strong class="rating">4</strong>
                                                  out of 5,
                                              </span>
                                          </div>
                                          <p>
                                            <%=raw(product.description.truncate(290))%>
                                          </p>
                                          <%=link_to "Show Detail", product_path(product), class: "button add_to_cart_button"%>
                                      </div>
                                  </div>
                              </li>
                            <%end%>
                        </ul>


                        <nav class="woocommerce-pagination">
                            <p class="woocommerce-result-count">Showing 1 - 12 of 40 Results</p>
                            <ul class="page-numbers">
                                <li>
                                    <a class="prev page-numbers" href="#"></a>
                                </li>
                                <li>
                                    <a class="page-numbers" href="#">1</a>
                                </li>
                                <li>
                                    <a class="page-numbers" href="#">2</a>
                                </li>
                                <li>
                                    <span class="page-numbers current">3</span>
                                </li>
                                <li>
                                    <a class="page-numbers" href="#">4</a>
                                </li>
                                <li>
                                    <a class="next page-numbers" href="#"></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-3 col-md-pull-9">
                    <div id="secondary" class="sidebar-shop">

                        <section class="widget woocommerce widget_list_categories_product">
                            <!--widget_product_categories-->
                            <h2 class="widget-title">TYPES</h2>
                            <ul class="product-categories">
                              <%@categories.each do |cate|%>
                                <li>
                                  <%=link_to type_path(cate), class:"medusae-collapse collapsed mobile" do%>
                                    <i class="fa fa-paper-plane-o"></i><%=cate.type_name.capitalize%>
                                  <%end%>
                                </li>
                              <%end%>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
 </div>
</div>
<%=render "components/front/footer"%>
