<div class="sparpartbrand-form">
  <%=form_for([:admin, sparpartbrand], remote: true )do |f|%>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <div class="">
            <label for="example-text-input" class="">Brandname</label>
            <%=f.text_field :brand_name, class: "form-control", placeholder: "sparpartbrand Name"%>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <div class="">
            <%=f.submit class: "btn btn-info",id: "create-sparpartbrand"%>
          </div>
        </div>
      </div>
    </div>
    </div>
  <%end%>
</div>
