<tr class="delete_sparpartbrand_<%=sparpartbrand.id%>">
  <td>
    <%= link_to sparpartbrand.brand_name, admin_sparpartbrand_path(sparpartbrand)%>
  </td>
  <td>
    <%=form_for([:admin, sparpartbrand], remote: true) do |f|%>
      <%=link_to admin_sparpartbrand_path(sparpartbrand), title: "View" do %>
        <i class="fa fa-eye btn-view"></i>
      <%end%>
      <%=link_to edit_admin_sparpartbrand_path(sparpartbrand), title: "Edit" do %>
        <i class="fa fa-pencil btn-edit"></i>
      <%end%>
      <%=link_to admin_sparpartbrand_path(sparpartbrand.id), title: "Delete", method: :delete, data: { confirm: "Are Sure You To Delete ?"}, remote: true do%>
        <i class="fa fa-remove btn-remove"></i>
      <%end%>
    <%end%>
  </td>
</tr>
