$("input#sparpartbrand_sparpartbrand_name").val("");
$("#sparpartbrand-errors").html(" ");
$("#sparpartbrand-success").html("<%= custom_flash_message%>");
$("#sparpartbrand-index").append("<%=j render(@sparpartbrand)%>");


  $(function() {
  	$('.delete_sparpartbrand_<%=@sparpartbrand.id%>').submitOnCheck();
  });

  $('.delete_sparpartbrand_<%=@sparpartbrand.id%>').submitOnCheck();
