<%=render "components/header"%>

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title-box">
              <div class="btn-group pull-right">
                  <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a href="#">Manage Slide</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                  </ol>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="card m-b-20">
            <div class="card-block">
              <ol>
                <hr>
                <li>Brand Name: <%=@sparpartbrand.brand_name%></li>
                <hr>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <%=link_to "Cancel", admin_sparpartbrands_path, class: "btn btn-danger"%>
      <%=link_to "Edit", edit_admin_sparpartbrand_path(@sparpartbrand), class: "btn btn-success"%>
    </div>
  </div>

<%=render "components/footer"%>
