$("input#sparpartbrand_sparpartbrand_name").val("");
$("input#sparpartbrand_sparpartbrand_qty").val("");
$("input#sparpartbrand_sparpartbrand_price").val("");

$("#sparpartbrand-errors").html("<br><%= j render partial: 'layouts/flash_errors', locals: {flash: :flash}%>");
