
<div class="fixed-left">
  <div class="accountbg" style="background: url('/bg-2.jpg');background-size: cover;"></div>
  <div class="wrapper-page account-page-full">
    <div class="card">
      <div class="card-block">
        <h3 class="text-center m-0"> <a href="index.html" class="logo logo-admin">Forcambodia</a></h3>
        <div class="p-3">
          <h4 class="text-muted font-18 m-b-5 text-center">Welcome Back !</h4>
          <p class="text-muted text-center">Change Password To Dashboard</p>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, class: "form-horizontal m-t-30") do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <%= f.hidden_field :reset_password_token %>
            <%= f.label :password, "New password" %><br />
            <% if @minimum_password_length %>
              <label>(<%= @minimum_password_length %> characters minimum)</label>
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control", placeholder: "Password" %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, "Confirm new password" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirmation Password" %>
          </div>

          <div class="form-group">
            <%= f.submit "Update Password", class: "btn btn-primary w-md waves-effect waves-light" %>
          </div>
          <%end%>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
    <div class="m-t-40 text-center">
      <p class="">© 2017 Forcambodia <i class="mdi mdi-heart text-danger"></i> by Chhouk Tit Panhara</p>
    </div>
  </div>
</div>
