<% title "Contacts Us | tgshobbycambodia.com"%>
<div class="wrap-main wrap-main-02">
<%=render "components/front/header"%>
  <div class="site-content-contain">
    <div id="content" class="site-content">
      <div class="wrap">
        <div id="primary" class="content-area">
          <div class="site-content-contain">
            <div id="content" class="site-content">
                <div class="wrap">
                    <div id="primary" class="content-area">
                        <div class="container">
                            <nav class="tp-breadcrumb">
                                <a href="#">Home</a>
                                Contacts Page
                            </nav>
                        </div>

                        <div class="form-contact-us">
                            <div class="container">
                                <header class="entry-header">
                                    <h1 class="entry-title">Contacts us</h1>
                                    <p>Contact us for more infomation</p>
                                </header>

                                <div class="entry-content tp-form-site">
                                    <div class="wpcf7">
                                      <%=form_for @contact, html: { class: "wpcf7-form"} do |f|%>
                                      <label>Name ( * )</label>
                                        <p>
                                          <%=f.text_field :fullname, placeholder: "Eg: Sok Dara", class: "wpcf7-form-control"%>
                                        </p>
                                        <label>Email ( * )</label>
                                        <p>
                                          <%=f.text_field :email, placeholder: "Eg: example@gmail.com", class: "wpcf7-form-control"%>
                                        </p>
                                        <label>Phone ( * )</label>
                                        <p>
                                          <%=f.text_field :phone, placeholder: "Eg: 095477325", class: "wpcf7-form-control"%>
                                        </p>
                                        <label>Comment</label>
                                        <p>
                                          <%=f.text_area :comment, class: "wpcf7-form-control"%>
                                        </p>
                                        <p class="tp-action">
                                          <%=f.submit "Contact Us", class: "wpcf7-form-control wpcf7-submit", id:"create-contact"%>
                                        </p>
                                      <%end%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
<%=render "components/front/footer"%>
