<% title "Home | tgshobbycambodia.com"%>
<div class="wrap-main wrap-main-02">
    <%=render "components/front/header"%>
      <div class="site-content-contain">
        <div id="content" class="site-content">
          <div class="wrap">
            <div id="primary" class="content-area">
              <%=render "components/front/slidershow"%>
                <%=render "components/front/new-product"%>

            <div class="container shortcode-product-slider-01">
              <%=render "components/front/swiper-slide"%>
            </div>

            <!-- Quick View -->

          <%=render "components/front/banner"%>

          <h3 class="title-homepage-center" style="margin-top: 50px;">modern products</h3>
          <%=render "components/front/modern-item"%>
          <%=render "components/front/blogs"%>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
<%=render "components/front/footer"%>
