<div class="fixed-left">
  <div class="accountbg" style="background: url('/bg-2.jpg');background-size: cover;"></div>
  <div class="wrapper-page account-page-full">
    <div class="card">
      <div class="card-block">
        <h3 class="text-center m-0"> <a href="index.html" class="logo logo-admin">Forcambodia</a></h3>
        <div class="p-3">
          <h4 class="text-muted font-18 m-b-5 text-center">Welcome Back !</h4>
          <p class="text-muted text-center">Sign in to continue to dashboard</p>
          <%=form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-horizontal m-t-30") do |f|%>
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "email", placeholder: "Email" %>
          </div>
          <div class="form-group">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control", id: "password", placeholder: "Password" %>
          </div>

          <% if devise_mapping.rememberable? -%>
          <div class="form-group row m-t-20">
            <div class="col-sm-6">
              <label class="custom-control mt-2 custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                <%= f.check_box :remember_me, class: "custom-control-input" %>
                <span class="custom-control-indicator"></span> <span class="custom-control-description">Remember me</span>
              </label>
            </div>
            <div class="col-sm-6 text-right">
              <%= f.submit "Log in", class: "btn btn-primary w-md waves-effect waves-light" %>
            </div>
          </div>
          <% end -%>
          <%end%>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
    <div class="m-t-40 text-center">
      <p class="">© 2017 Forcambodia <i class="mdi mdi-heart text-danger"></i> by Chhouk Tit Panhara</p>
    </div>
  </div>
</div>
