<tr class="delete_about_<%=about.id%>">
  <td>
    <%= raw(about.description.truncate(190))%>
  </td>
  <td>
    <%=form_for([:admin, about], remote: true) do |f|%>
      <%=link_to admin_about_path(about), title: "View" do %>
        <i class="fa fa-eye btn-view"></i>
      <%end%>
      <%=link_to edit_admin_about_path(about), title: "Edit" do %>
        <i class="fa fa-pencil btn-edit"></i>
      <%end%>
      <%=link_to admin_about_path(about.id), title: "Delete", method: :delete, data: { confirm: "Are Sure You To Delete ?"}, remote: true do%>
        <i class="fa fa-remove btn-remove"></i>
      <%end%>
    <%end%>
  </td>
</tr>
