<div class="about-form">
  <%=simple_form_for([:admin, about], remote: true )do |f|%>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="">
            <%=f.input :description, :class=>"c-input", id: "input1", :placeholder=>"Description", as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }%>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <div class="">
            <%=f.submit class: "btn btn-info",id: "create-about"%>
          </div>
        </div>
      </div>
    </div>
    </div>
  <%end%>
</div>
