
$("#about-success").html("<%= custom_flash_message%>");
$("#about-index").append("<%= j render(@about)%>");


  $(function() {
  	$('.delete_about_<%=@about.id%>').submitOnCheck();
  });

  $('.delete_about_<%=@about.id%>').submitOnCheck();
