<tr class="delete_setting_<%=setting.id%>">
  <td style="width: 50%;">
    <%=image_tag(setting.image,style: "width: 100%;")%>
  </td>

  <td>
    <%=form_for([:admin, setting], remote: true) do |f|%>
      <%=link_to admin_setting_path(setting), title: "View" do %>
        <i class="fa fa-eye btn-view"></i>
      <%end%>
      <%=link_to edit_admin_setting_path(setting), title: "Edit" do %>
        <i class="fa fa-pencil btn-edit"></i>
      <%end%>
      <%=link_to admin_setting_path(setting.id), title: "Delete", method: :delete, data: { confirm: "Are Sure You To Delete ?"}, remote: true do%>
        <i class="fa fa-remove btn-remove"></i>
      <%end%>
    <%end%>
  </td>
</tr>
