<div class="row">
    <div class="col-sm-12">
      <h4 class="mt-0 header-title">Logo</h4>
          <%=form_for([:admin, setting], remote: true , html: { id: "form-horizontal", class: "form-horizontal form-wizard-wrapper"})do |f|%>
            <fieldset>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                      <div class="control-group file-upload" id="file-upload1">
                        <div class="image-box text-center"><p>Upload Image</p><img src="" alt=""></div>
                        <div class="controls">
                          <%=f.file_field :image%>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </fieldset>

            <%=f.fields_for :socials do |social|%>
              <%=render "social_fields", :f => social%>
            <%end%>

            <div class="form-group" style="margin-top: 20px;">
              <%=f.submit "Save", class:"btn btn-success"%>
              <%= link_to_add_association "Add social", f, :socials, class: "btn btn-primary"%>
              <%= link_to "Cancel", admin_settings_path, class: "btn btn-danger"%>
            </div>
        <%end%>
    </div>
</div>
