<div class="nested-fields">
  <h3>Social</h3>
  <div class="row">
    <div class="col-sm-12">
      <div class="">
        <div class="row">
          <div class="col-md-12">
            <%=link_to_remove_association "Remove", f, class: 'btn btn-danger'%>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <div class="">
                <label for="example-text-input" class="">social</label>
                <%= f.select :socialm, Social::SECTION_SELECT_SOCIAL, {}, {:class=>"form-control"} %>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="form-group">
              <div class="">
                <label for="example-text-input" class="">URL</label>
                <%=f.text_field :url, class: "form-control"%>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
