$("#setting-success").html("<%= custom_flash_message%>");
$("#setting-index").append("<%= j render(@setting)%>");


  $(function() {
  	$('.delete_setting_<%=@setting.id%>').submitOnCheck();
  });

  $('.delete_setting_<%=@setting.id%>').submitOnCheck();
