<%=render "components/header"%>

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title-box">
              <div class="btn-group pull-right">
                  <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                  </ol>
              </div>
              <h4 class="page-title">Products</h4>
          </div>
        </div>
      </div>
      <div class="row">

      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="card m-b-20">
            <div class="card-block">
              <div class="product-form">
                <%=simple_form_for([:admin, @setting])do |f|%>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                          <div class="control-group file-upload" id="file-upload1">
                            <div class="image-box text-center"><p>Upload Image</p><img src="" alt=""></div>
                            <div class="controls">
                              <%=f.file_field :image%>
                            </div>
                          </div>
                      </div>
                    </div>

                    <%=f.fields_for :socials do |social|%>
                      <%=render "social_fields", :f => social%>
                    <%end%>

                    <div class="col-sm-12">
                      <div class="form-group" style="margin-top: 20px;">
                        <%=f.submit "Save", class:"btn btn-success"%>
                        <%= link_to_add_association "Add social", f, :socials, class: "btn btn-primary"%>
                        <%= link_to "Cancel", admin_settings_path, class: "btn btn-danger"%>
                      </div>
                    </div>
                  </div>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

<%=render "components/footer"%>
