<%=render "components/header"%>

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title-box">
            <h4 class="page-title">Slide Show</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="card m-b-20">
            <div class="card-block">
              <%=form_for([:admin, @slideshow]) do |f|%>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="">
                      <label for="example-text-input" class="">Title</label>
                      <%=f.text_field :title, class: "form-control"%>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="">
                      <label for="example-text-input" class="">Subtitle</label>
                      <%=f.text_field :subtitle, class: "form-control"%>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="">
                      <label for="example-text-input" class="">URL</label>
                      <%=f.text_field :url, class: "form-control"%>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12">
                  <label class="custom-control custom-checkbox">
                    <%= f.check_box :status, class: "custom-control-input" %>
                    <span class="custom-control-indicator"></span>Do you want to active your slide ? Your slide is <%=status_converter(@slideshow.status, correct: "Active", incorrect: "Inactive")%>
                  </label>
                </div>

                <div class="col-sm-3">
                  <div class="form-group">
                      <div class="control-group file-upload" id="file-upload1">
                        <div class="image-box text-center"><p>Background Image</p><img src="" alt=""></div>
                        <div class="controls">
                          <%=f.file_field :background%>
                        </div>
                      </div>
                  </div>
                </div>


                <div class="col-sm-3">
                  <div class="form-group">
                      <div class="control-group file-upload" id="file-upload2">
                        <div class="image-box text-center"><p>Upload Image</p><img src="" alt=""></div>
                        <div class="controls">
                          <%=f.file_field :image%>
                        </div>
                      </div>
                  </div>
                </div>

                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="">
                      <%=f.submit class: "btn btn-primary"%>
                    </div>
                  </div>
                </div>
              </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

<%=render "components/footer"%>
