<tr class="delete_slideshow_<%=slideshow.id%>">
  <td>
    <%= link_to slideshow.title, admin_slideshow_path(slideshow)%>
  </td>
  <td>
    <%=slideshow.subtitle%>
  </td>
  <td>
    <%=slideshow.url%>
  </td>
  <td>
    <%=status_converter(slideshow.status, correct: "Active", incorrect: "Incorrect")%>
  </td>
  <td>
    <%=form_for([:admin, slideshow], remote: true) do |f|%>
      <%=link_to admin_slideshow_path(slideshow), title: "View" do %>
        <i class="fa fa-eye btn-view"></i>
      <%end%>
      <%=link_to edit_admin_slideshow_path(slideshow), title: "Edit" do %>
        <i class="fa fa-pencil btn-edit"></i>
      <%end%>
      <%=link_to admin_slideshow_path(slideshow.id), title: "Delete", method: :delete, data: { confirm: "Are Sure You To Delete ?"}, remote: true do%>
        <i class="fa fa-remove btn-remove"></i>
      <%end%>
    <%end%>
  </td>
</tr>
