<%=render "components/header"%>

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title-box">
              <div class="btn-group pull-right">
                  <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a href="#">Slideshows</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                  </ol>
              </div>
              <h4 class="page-title">slideshows</h4>
              <div id="slideshow-errors"></div>
              <div id="slideshow-success"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="card m-b-20">
            <div class="card-block">
              <%=link_to "Add Slide", new_admin_slideshow_path, class: "btn btn-info"%>
              <br><br>
              <table class="table">
                <thead class="thead-default">
                  <tr>
                    <th>Title</th>
                    <th>Subtitle</th>
                    <th>URL</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody id="slideshow-index">
                  <%if @slideshows.any?%>
                    <%= render @slideshows%>
                  <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card m-b-20">
            <div class="card-block">

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

<%=render "components/footer"%>
