<% title "#{@item.item_name} tsghobbycamodia"%>
<% meta_description strip_tags(@item.description)%>
<div class="wrap-main wrap-main-02">
 <%=render "components/front/header"%>
  <div class="site-content-contain">
    <div id="content" class="site-content">
      <div class="wrap">
        <div id="primary" class="content-area">
          <div class="container" style="margin-top: 30px; margin-bottom: 30px;">
            <nav class="woocommerce-breadcrumb" style="margin-top: 30px; margin-bottom: 30px;">
                <a href="/">Home</a>
                <%=link_to "Model", modes_path%>
                <%=link_to @item.item_name, "#", class: "active"%>
            </nav>
              <div class="content-product-quickview">
                <div class="row">
                  <div class="col-md-7">
                      <div class="image-product-detail images">
                          <div class="swiper-container tp-gallery-top">
                              <div class="swiper-wrapper">
                                  <div class="swiper-slide"><img src="<%=@item.image%>" alt="product detail"></div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-5">
                      <div class="info-product-detail entry-summary">
                          <h1 class="product_title entry-title"><%=@item.item_name%></h1>
                          <div class="price">
                              <span class="woocommerce-Price-amount amount"><%=number_to_currency(@item.price)%></span>
                          </div>
                          <div class="woocommerce-product-rating">
                              <div class="star-rating">
                                  <span>
                                      <strong class="rating">4</strong>
                                      out of 5,
                                  </span>
                              </div>
                          </div>

                          <form class="variations_form cart">
                              <table class="variations">
                                  <tbody>
                                      <tr>
                                          <td class="label">
                                              <label>Color</label>
                                          </td>
                                          <td class="value">

                                              <ul class="option_color">

                                                  <li><a href="#" class="color example-color--01" data-color=""></a></li>

                                              </ul>

                                              <a class="reset_variations" href="#"></a>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </form>
                      </div>
                  </div>
                </div>
              <div class="woocommerce-tabs wc-tabs-wrapper">
                  <ul class="tp-tabs tabs wc-tabs" role="tablist">
                      <li role="presentation" class="active" data-tab="description"><a>description</a></li>
                      <li role="presentation" data-tab="tab-reviews"><a>Customer Review</a></li>

                  </ul>

                  <div class="tp-tab-pane woocommerce-Tabs-panel active" id="description">
                      <%=raw(@item.description)%>
                  </div>
                  <div class="tp-tab-pane woocommerce-Tabs-panel" id="tab-reviews">
                    <div id="reviews" class="woocommerce-Reviews">
                       <div id="respond" class="comment-respond">
                           <h3 class="comment-reply-title">Customer review products</h3>
                           <form class="comment-form">
                              <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
                              <p class="comment-form-rating">
                                  <label>Your Rating</label>
                                  </p><p class="stars"><span><a class="star-1" href="#">1</a><a class="star-2" href="#">2</a><a class="star-3" href="#">3</a><a class="star-4" href="#">4</a><a class="star-5" href="#">5</a></span>
                                  </p>
                              <p></p>
                              <p class="comment-form-author">
                                  <label>Name <span class="required">*</span></label>
                                  <input id="author" name="author" type="text" value="" size="30" aria-required="true" required="">
                              </p>
                              <p class="comment-form-email">

                                  <label>Email <span class="required">*</span></label>
                                  <input id="email" name="email" type="email" value="" size="30" aria-required="true" required="">
                              </p>
                              <p class="comment-form-comment">
                                  <label>Your Review <span class="required">*</span></label>
                                  <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true" required=""></textarea>
                              </p>
                              <p class="form-submit">
                                  <input name="submit" type="submit" id="submit" class="submit" value="Submit">
                              </p>
                          </form>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="related-product">
                  <h3 class="title-related">Related Products</h3>
                  <div class="swiper-container product-related tp-slider-tpl" data-params='{"slidesPerView":4,
                      "loop":true,
                      "paginationClickable": true,
                      "spaceBetween": 30,
                      "nextButton":".tp-button-next",
                      "prevButton":".tp-button-prev",
                      "breakpoints":{"480":{"slidesPerView":1},"767":{"slidesPerView":2},"991":{"slidesPerView":3}}
                  }'>

                  <div class="swiper-wrapper">
                    <%@products.each do |product|%>
                      <div class="swiper-slide">
                          <div class="product type-product has-post-thumbnail">

                              <div class="product-image">
                                  <a href="#">
                                      <img src="<%=product.image%>" alt="shop item">
                                  </a>
                                  <div class="product-action">
                                      <a href="#" class="tp-btn-wishlist"><i class="fa fa-heart-o"></i></a>
                                      <a href="#" class="tp-btn-quickview"><i class="fa fa-search-plus"></i></a>
                                      <a href="#" class="tp-btn-compare"><i class="fa fa-list-ul"></i></a>
                                  </div>
                              </div>

                              <h3>
                                <%=link_to product.product_name, product_path(product)%>
                              </h3>
                              <div class="price">
                                  <span class="woocommerce-Price-amount amount"><%=number_to_currency(product.product_price)%> </span>
                              </div>
                              <div class="product-info">
                                  <div class="star-rating">
                                      <span>
                                          <strong class="rating">3</strong>
                                          out of 4,
                                      </span>
                                  </div>
                                  <%=link_to "Show Detail", product_path(product),class: "button add_to_cart_button"%>
                              </div>
                          </div>
                      </div>
                    <%end%>
                  </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<%=render "components/front/footer"%>
