<div class="row">
    <div class="col-sm-12">
          <%=form_for([:admin, category], remote: true , html: { id: "form-horizontal", class: "form-horizontal form-wizard-wrapper"})do |f|%>
            <h3>category</h3>
            <fieldset>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="txtFirstNameBilling" class="">Category Name</label>
                    <%=f.text_field :category_name, class: "form-control"%>
                  </div>
                </div>
              </div>
            </fieldset>
            <div class="form-group" style="margin-top: 20px;">
              <%=f.submit "Save", class:"btn btn-success"%>
            </div>
        <%end%>
    </div>
</div>
