<tr class="delete_category_<%=category.id%>">
  <td>
    <%= link_to category.category_name, admin_category_path(category)%>
  </td>
  <td>
    <%=form_for([:admin, category], remote: true) do |f|%>
      <%=link_to admin_category_path(category) do%>
        <i class="fa fa-eye btn-view"></i>
      <%end%>
      <%=link_to edit_admin_category_path(category) do%>
        <i class="fa fa-pencil btn-edit"></i>
      <%end%>
      <%=link_to admin_category_path(category.id), method: :delete, data: { confirm: "Are Sure You To Delete ?"}, remote: true do%>
        <i class="fa fa-remove btn-remove"></i>
      <%end%>
    <%end%>
  </td>
</tr>
