$("select#product_brand_id").val("");
$("select#product_category_id").val("");
$("input#category_category_name").val("");
$("#category-errors").html(" ");
$("#category-success").html("<%= custom_flash_message%>");
$("#category-index").append("<%=j render(@category)%>");

$(function() {
  $('.delete_category_<%=@category.id%>').submitOnCheck();
});

$('.delete_category_<%=@category.id%>').submitOnCheck();
