<tr class="delete_product_<%=product.id%>">
  <td>
    <%= link_to product.product_name, admin_product_path(product)%>
  </td>
  <td>
    <%= product.brand.brand_name%>
  </td>
  <td>
    <%= product.type.type_name%>
  </td>
  <td>
    <%= product.product_price%>
  </td>
  <td>
    <%= product.product_qty%>
  </td>
  <td>
    <%=status_converter(product.status, correct: "Active", incorrect: "Inactive")%>
  </td>
  <td>
    <%=form_for([:admin, product], remote: true) do |f|%>
      <%=link_to admin_product_path(product), title: "View" do %>
        <i class="fa fa-eye btn-view"></i>
      <%end%>
      <%=link_to edit_admin_product_path(product), title: "Edit" do %>
        <i class="fa fa-pencil btn-edit"></i>
      <%end%>
      <%=link_to admin_product_path(product.id), title: "Delete", method: :delete, data: { confirm: "Are Sure You To Delete ?"}, remote: true do%>
        <i class="fa fa-remove btn-remove"></i>
      <%end%>
    <%end%>
  </td>
</tr>
