<div class="col-sm-6">
  <div class="form-group">
    <div class="">
      <label for="example-text-input" class="">Color</label>
      <%=f.text_field :color, class: "form-control", placeholder: "Color"%>
    </div>
  </div>
</div>

<div class="col-sm-6">
  <div class="form-group">
    <div class="">
      <label for="example-text-input" class="">Weight</label>
      <%=f.text_field :weight, class: "form-control", placeholder: "Weight"%>
    </div>
  </div>
</div>

<div class="col-sm-6">
  <div class="form-group">
    <div class="">
      <label for="example-text-input" class="">Voltage</label>
      <%=f.text_field :voltage, class: "form-control", placeholder: "voltage"%>
    </div>
  </div>
</div>
