$("input#product_product_name").val("");
$("input#product_product_price").val("");
$("input#product_product_qty").val("");
$("input#product_properties_attributes_0_color").val("");
$("input#product_properties_attributes_0_weight").val("");
$("input#product_properties_attributes_0_voltage").val("");
$("select#product_brand_id").val("");
$("select#product_type_id").val("");
$("#product-errors").html("");
$("#product-success").html("<%= custom_flash_message%>");
$("#product-index").append("<%=j render(@product)%>");
$(function() {
  $('.delete_product_<%=@product.id%>').submitOnCheck();
});

$('.delete_product_<%=@product.id%>').submitOnCheck();
