<%=render "components/header"%>

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title-box">
              <div class="btn-group pull-right">
                  <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                  </ol>
              </div>
              <h4 class="page-title">Products</h4>
          </div>
        </div>
      </div>
      <div class="row">

      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="card m-b-20">
            <div class="card-block">
              <div class="product-form">
                <%=simple_form_for([:admin, @product])do |f|%>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="">
                          <label for="example-text-input" class="">Brand</label>
                          <%=f.collection_select :brand_id, Brand.all, :id, :brand_name, {prompt: "Select Brand"}, {class: "form-control"}%>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="">
                          <label for="example-text-input" class="">Type</label>
                          <%=f.collection_select :type_id, Type.all, :id, :type_name, {prompt: "Select Type"}, {class: "form-control"}%>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="">
                          <label for="example-text-input" class="">Product Name</label>
                          <%=f.text_field :product_name, class: "form-control", placeholder: "Product Name"%>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="">
                          <label for="example-text-input" class="">Price</label>
                          <%=f.number_field :product_price, class: "form-control", placeholder: "Price"%>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="">
                          <label for="example-text-input" class="">Product QTY</label>
                          <%=f.number_field :product_qty, class: "form-control", placeholder: "QTY"%>
                        </div>
                      </div>
                    </div>
                    <%=f.fields_for :properties do |property|%>
                      <%=render "property_fields", :f => property%>
                    <%end%>

                    <div class="col-sm-12">
                      <div class="form-group">
                        <div class="">
                          <%=f.input :description, :class=>"c-input", id: "input1", :placeholder=>"Description", as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }%>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12">
                      <label class="custom-control custom-checkbox">
                        <%= f.check_box :status, class: "custom-control-input" %>
                        <span class="custom-control-indicator"></span>Do you want to active your products ? Your Products is <%=status_converter(@product.status, correct: "Active", incorrect: "Inactive")%>
                      </label>
                    </div>

                    <div class="col-sm-12">
                      <div class="form-group">
                          <div class="control-group file-upload" id="file-upload1">
                            <div class="image-box text-center"><p>Upload Image</p><img src="" alt=""></div>
                            <div class="controls">
                              <%=f.file_field :image%>
                            </div>
                          </div>
                      </div>
                    </div>


                    <div class="col-sm-12">
                      <div class="form-group">
                        <div class="">
                          <%=f.submit class: "btn btn-info",id: "create-product"%>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                <%end%>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

<%=render "components/footer"%>
