$("input#product_product_name").val("");
$("input#product_product_qty").val("");
$("input#product_product_price").val("");

$("#product-success").html("<br><%= j render partial: 'layouts/flash_success', locals: {flash: :flash}%>");
