$("input#product_product_name").val("");
$("input#product_product_qty").val(" ");
$("input#product_product_price").val(" ");

$("#product-errors").html("<br><%= j render partial: 'layouts/flash_errors', locals: {flash: :flash}%>");
