<% title "About Us | tgshobbycambodia.com"%>
<%@abouts.each do |about|%>
  <% meta_description strip_tags(about.description)%>
<%end%>
<div class="wrap-main wrap-main-02">
<%=render "components/front/header"%>
  <div class="site-content-contain">
    <div id="content" class="site-content">
      <div class="wrap">
        <div id="primary" class="content-area">
          <div class="site-content-contain">
            <div id="content" class="site-content">
                <div class="wrap">
                    <div id="primary" class="content-area">
                        <div class="container">
                            <nav class="tp-breadcrumb">
                                <a href="#">Home</a>
                                About page
                            </nav>
                        </div>
                        <div class="about-page">
                            <div class="container">
                                <h3 class="title-page">About us</h3>

                            </div>
                            <div class="about-info">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-5 img-right">
                                        </div>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="ab-infomation">

                                                <p>
                                                  <%@abouts.each do |about|%>
                                                    <%=raw(about.description)%>
                                                  <%end%>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
<%=render "components/front/footer"%>
