<% title "Types | tgshobbycambodia.com"%>
<div class="wrap-main wrap-main-02">
  <%=render "components/front/header"%>
  <div class="site-content-contain">
    <div id="content" class="site-content">
        <div class="wrap container">
            <div class="row">
                <div class="col-md-9 col-md-push-3">
                    <div id="primary" class="content-area">
                        <nav class="woocommerce-breadcrumb" style="margin-top: 30px; margin-bottom: 30px;">
                            <a href="/">Home</a>
                            <%=link_to "Spartpart".capitalize, "#", class: "active"%>
                        </nav>

                        <ul class="row products">
                          <%@categories.each do |cate|%>
                            <%cate.items.each do |item|%>
                              <% if item.status %>
                                <li class="col-md-4 col-sm-6 col-xs-6 grid-item">
                                  <div class="product type-product has-post-thumbnail">
                                    <div class="product-image">
                                      <%=link_to item_path(item) do%>
                                      <img src="<%=item.image%>" alt="shop item">
                                      <%end%>

                                      <div class="product-action">
                                        <%=link_to item_path(item) do%>
                                        <i class="fa fa-heart-o"></i>
                                        <%end%>
                                        <%=link_to item_path(item) do%>
                                        <i class="fa fa-search-plus"></i>
                                        <%end%>
                                        <%=link_to item_path(item) do%>
                                        <i class="fa fa-list-ul"></i>
                                        <%end%>
                                      </div>
                                    </div>
                                    <h3>
                                      <%=link_to item.item_name, item_path(item)%>
                                    </h3>
                                    <div class="price">
                                      <span class="woocommerce-Price-amount amount">
                                        <%if item.price.present?%>
                                          <%=number_to_currency(item.price)%>
                                        <%else%>
                                          <%=" "%>
                                        <%end%>
                                      </span>
                                    </div>
                                    <div class="product-info">
                                      <div class="star-rating">
                                        <span>
                                          <strong class="rating">4</strong>
                                          out of 5,
                                        </span>
                                      </div>

                                      <%=link_to "Show Detail", item_path(item), class: "button add_to_cart_button"%>
                                    </div>
                                  </div>
                                </li>
                              <% end %>
                            <%end%>
                          <%end%>
                        </ul>

                        <%= paginate @items %>
                    </div>
                </div>
                <div class="col-md-3 col-md-pull-9">
                    <div id="secondary" class="sidebar-shop">

                        <section class="widget woocommerce widget_list_categories_product">
                            <!--widget_product_categories-->
                            <h2 class="widget-title">Parts & Accessories</h2>
                            <ul class="product-categories">
                              <%@categories.each do |cate|%>
                                <li>
                                  <a data-toggle="collapse" href="#<%=cate.category_name.downcase.delete(' ')%>" class="medusae-collapse collapsed" aria-expanded="false" aria-controls="laptop">
                                    <i class="fa fa-laptop"></i>
                                    <%=cate.category_name.upcase%>
                                  </a>
                                  <ul id="<%=cate.category_name.downcase.delete(' ')%>" class="collapse" aria-expanded="false">
                                    <%cate.sparpartbrands.distinct.each do |brand|%>
                                      <li>
                                        <%=link_to sparpartbrand_path(brand) do %>
                                          <i class="fa fa-laptop"></i>
                                          <%=brand.brand_name.upcase%>
                                        <%end%>
                                      </li>
                                    <%end%>
                                  </ul>
                                </li>
                            <%end%>
                          </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
 </div>
</div>
<%=render "components/front/footer"%>
