/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree ./front-end/css
 *= require_self
 */
 @import "toastr";

 .active{
   color: #f95561 !important;
 }

 .tp-banner-half-img .tp-banner-yellow .tp-content {
   background: #fff !important;
   border: 1px solid #e6e6e6 !important;
 }

 .woocommerce .product img {
    height: auto;
}

div.flash-message{
  color: white !important;
}
.topbar {
  border-bottom: none !important;
}

.red{
  background: #f03434;
}

.white{
  background: #EEEEEE;
}

.blue{
  background: #446CB3;
}

.tp-button-next, .tp-button-prev{
  display: none !important;
}

span.current {
  margin-left: 5px !important;
  margin-right: 5px !important;
  padding: 8px 15px !important;
  background-color: #F8F9FA;
  border: 1px solid #4b5862 !important;
  border-radius: 3px !important;
  color: #4b5862 !important;
  text-align: center;
}

span.first>a, span.prev>a, span.gap>a, span.page>a, span.next>a, span.last>a {
    margin-left: 5px !important;
    padding: 8px 15px !important;
    background-color: #4b5862;
    border: none !important;
    border-radius: 3px !important;
    color: #fff !important;
}

@media screen and (min-width: 991px){
  .mainbar {
      padding: 0px 0 0px !important;
      background: url(/backgroundbee.png) center center no-repeat;
  }
}


.search__submit {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 48px !important;
    background: 0 0;
    border: none;
    padding: 0;
    color: white;
}

.search__field {
    border: 0;
    background: 0 0;
    width: 100%;
    padding-left: 35px;
    font-size: 14px;
    border-bottom: 1px solid #fff !important;
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

input.search__field{
  color: white;
}

.mainbar .search {
    margin-top: 12px !important;
}

a.brand-product{
  color: #f95561;
}
