<tr class="delete_user_<%=user.id%>">
  <td>
    <%="#{user.firstname} #{user.lastname}"%>
  </td>

  <td>
    <%= link_to user.email, admin_user_path(user)%>
  </td>

  <td>
    <%= user.position%>
  </td>

  <td>
    <%= user.role%>
  </td>

  <td>
    <%=form_for([:admin, user], remote: true) do |f|%>
      <%=link_to admin_user_path(user), email: "View" do %>
        <i class="fa fa-eye btn-view"></i>
      <%end%>
      <%=link_to edit_admin_user_path(user), email: "Edit",id: "show-form_#{user.id}" do %>
        <i class="fa fa-pencil btn-edit"></i>
      <%end%>
      <%=link_to admin_user_path(user.id), email: "Delete", method: :delete, data: { confirm: "Are Sure You To Delete ?"}, remote: true do%>
        <i class="fa fa-remove btn-remove"></i>
      <%end%>
    <%end%>
  </td>
</tr>
