<div class="user-form">
  <%=simple_form_for([:admin, user], remote: true )do |f|%>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>Personal</h3>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <div class="">
            <label for="example-text-input" class="">Role</label>
            <%=f.select :role,(User.roles.keys.map{ |role| [role.titleize, role]}), {}, {:class=>"form-control"}%>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <div class="">
            <label for="example-text-input" class="">First Name</label>
            <%=f.text_field :firstname, class: "form-control", placeholder: "email"%>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <div class="">
            <label for="example-text-input" class="">Last Name</label>
            <%=f.text_field :lastname, class: "form-control", placeholder: "email"%>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <div class="">
            <label for="example-text-input" class="">Postion</label>
            <%=f.text_field :position, class: "form-control", placeholder: "position"%>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <div class="">
            <%=f.input :description, class: "form-control", as: :ckeditor, input_html: {ckeditor: {toolbar: 'Full'} }%>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <hr>
        <h3>Account</h3>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <div class="">
            <label for="example-text-input" class="">Username</label>
            <%=f.text_field :username, class: "form-control", placeholder: "Username"%>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <div class="">
            <label for="example-text-input" class="">Email</label>
            <%=f.text_field :email, class: "form-control", placeholder: "email"%>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <div class="">
            <label for="example-text-input" class="">Password</label>
            <%=f.password_field :password, class: "form-control", placeholder: "email"%>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <div class="">
            <label for="example-text-input" class="">Confirmation Password</label>
            <%=f.password_field :password_confirmation, class: "form-control", placeholder: "email"%>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
            <div class="control-group file-upload" id="file-upload1">
              <div class="image-box text-center"><p>Upload Image</p><img src="" alt=""></div>
              <div class="controls">
                <%=f.file_field :image%>
              </div>
            </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <div class="">
            <%=f.submit class: "btn btn-info"%>
            <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  <%end%>
</div>
