$("input#user_firstname").val(" ");
$("input#user_lastname").val(" ");
$("input#user_position").val(" ");
$("input#user_username").val(" ");
$("input#user_password").val(" ");
$("input#user_email").val(" ");
$("input#user_password_confirmation").val(" ");
$("input#user_description").val(" ");
$("#user-errors").html(" ");
$("#user-success").html("<%= custom_flash_message%>");
$("#user-index").append("<%=j render(@user)%>");

$(function() {
  $('.delete_user_<%=@user.id%>').submitOnCheck();
});

$('.delete_user_<%=@user.id%>').submitOnCheck();
