<%=render "components/header"%>

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title-box">
              <div class="btn-group pull-right">
                  <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a href="#">User</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                  </ol>
              </div>
              <h4 class="page-title">User</h4>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-9">
          <div class="card m-b-20">
            <div class="card-block">
              <div class="user-form">
                <%=simple_form_for([:admin, @user])do |f|%>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12">
                      <h3>Personal</h3>
                    </div>

                    <div class="col-sm-12">
                      <div class="form-group">
                        <div class="">
                          <label for="example-text-input" class="">Role</label>
                          <%=f.select :role,(User.roles.keys.map{ |role| [role.titleize, role]}), {}, {:class=>"form-control"}%>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="">
                          <label for="example-text-input" class="">First Name</label>
                          <%=f.text_field :firstname, class: "form-control", placeholder: "email"%>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="">
                          <label for="example-text-input" class="">Last Name</label>
                          <%=f.text_field :lastname, class: "form-control", placeholder: "email"%>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="">
                          <label for="example-text-input" class="">Postion</label>
                          <%=f.text_field :position, class: "form-control", placeholder: "position"%>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12">
                      <hr>
                      <h3>Account</h3>
                    </div>

                    <div class="col-sm-12">
                      <div class="form-group">
                        <div class="">
                          <label for="example-text-input" class="">Email</label>
                          <%=f.text_field :email, class: "form-control", placeholder: "email"%>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="">
                          <label for="example-text-input" class="">Password</label>
                          <p>Leave it blank if you don't want to change your password</p>
                          <%=f.password_field :password, class: "form-control", placeholder: "email"%>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-group">
                        <div class="">
                          <label for="example-text-input" class="">Confirmation Password</label>
                          <p>Leave it blank if you don't want to change your password</p>
                          <%=f.password_field :password_confirmation, class: "form-control", placeholder: "email"%>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12">
                      <div class="form-group">
                          <div class="control-group file-upload" id="file-upload1">
                            <div class="image-box text-center"><p>Upload Image</p><img src="" alt=""></div>
                            <div class="controls">
                              <%=f.file_field :image%>
                            </div>
                          </div>
                      </div>
                    </div>

                    <div class="col-sm-12">
                      <div class="form-group">
                        <div class="">
                          <%=f.submit class: "btn btn-info"%>
                          <%=link_to "Cancel", admin_users_path, class: "btn btn-danger"%>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                <%end%>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

<%=render "components/footer"%>
