<%=render "components/header"%>

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title-box">
              <div class="btn-group pull-right">
                  <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a href="#">User</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                  </ol>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="card m-b-20">
            <div class="card-block">
                <label for="">User Image</label>
                <p><%= image_tag(@user.image,style: "width: 250px;")%></p>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card m-b-20">
            <div class="card-block">
              <h3>Personal Infomation</h3>
              <ol>
                <hr>
                <li>Fullname: <%= "#{@user.firstname} #{@user.lastname}"%></li>
                <hr>
                <li>Email: <%= @user.email %></li>
                <hr>
                <li>Postion: <%= @user.role%></li>
                <hr>
                <li>Role: <%= @user.role%></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <%=link_to "Cancel", admin_users_path, class: "btn btn-danger"%>
      <%=link_to "Edit", edit_admin_user_path(@user), class: "btn btn-success"%>
    </div>
  </div>

<%=render "components/footer"%>
