<tr class="delete_blog_<%=blog.id%>">
  <td>
    <%= link_to blog.title, admin_blog_path(blog)%>
  </td>
  <td>
    <%= blog.post_date%>
  </td>
  <td>
    <%=status_converter(blog.status, correct: "Active", incorrect: "Inactive")%>
  </td>
  <td>
    <%=form_for([:admin, blog], remote: true) do |f|%>
      <%=link_to admin_blog_path(blog), title: "View" do %>
        <i class="fa fa-eye btn-view"></i>
      <%end%>
      <%=link_to edit_admin_blog_path(blog), title: "Edit" do %>
        <i class="fa fa-pencil btn-edit"></i>
      <%end%>
      <%=link_to admin_blog_path(blog.id), title: "Delete", method: :delete, data: { confirm: "Are Sure You To Delete ?"}, remote: true do%>
        <i class="fa fa-remove btn-remove"></i>
      <%end%>
    <%end%>
  </td>
</tr>
