<div class="blog-form">
  <%=simple_form_for([:admin, blog], remote: true )do |f|%>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <div class="">
            <label for="example-text-input" class="">Title</label>
            <%=f.text_field :title, class: "form-control", placeholder: "Title"%>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <div class="">
            <%=f.input :description, :class=>"c-input", id: "input1", :placeholder=>"Description", as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }%>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <label class="custom-control custom-checkbox">
          <%= f.check_box :status, class: "custom-control-input" %>
          <span class="custom-control-indicator"></span>Do you want to active your products ? Your Products is <%=status_converter(@blog.status, correct: "Active", incorrect: "Inactive")%>
        </label>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
            <div class="control-group file-upload" id="file-upload1">
              <div class="image-box text-center"><p>Upload Image</p><img src="" alt=""></div>
              <div class="controls">
                <%=f.file_field :image%>
              </div>
            </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <div class="">
            <%=f.submit class: "btn btn-info",id: "create-blog"%>
          </div>
        </div>
      </div>
    </div>
    </div>
  <%end%>
</div>
