$("input#blog_title").val("");
$("#blog-errors").html(" ");
$("#blog-success").html("<%= custom_flash_message%>");
$("#blog-index").append("<%= j render(@blog)%>");


  $(function() {
  	$('.delete_blog_<%=@blog.id%>').submitOnCheck();
  });

  $('.delete_blog_<%=@blog.id%>').submitOnCheck();
