<%=render "components/header"%>

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title-box">
              <div class="btn-group pull-right">
                  <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a href="#">Manage Slide</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                  </ol>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="card m-b-20">
            <div class="card-block">
              <ol>
                <hr>
                <li>Title: <%=@blog.title%></li>
                <hr>
                <li>Subtitle: <%=@blog.post_date%></li>
                <hr>
                <li>Image: <%=image_tag(@blog.image, style: "width: 250px;")%></li>
                <hr>
                <li>Description: <%=raw(@blog.description)%></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <%=link_to "Cancel", admin_blogs_path, class: "btn btn-danger"%>
      <%=link_to "Edit", edit_admin_blog_path(@blog), class: "btn btn-success"%>
    </div>
  </div>

<%=render "components/footer"%>
