<% title "Products | tgshobbycambodia.com"%>
<div class="wrap-main wrap-main-02">
  <%=render "components/front/header"%>
  <div class="site-content-contain">
    <div id="content" class="site-content">
        <div class="wrap container">
            <div class="row">
                <div class="col-md-9 col-md-push-3">
                    <div id="primary" class="content-area">
                        <nav class="woocommerce-breadcrumb" style="margin-top: 30px; margin-bottom: 30px;">
                            <a href="/">Home</a>
                            <%=link_to "Products", "#", class: "active"%>
                        </nav>

                        <ul class="row products">
                            <%@products.each do |product|%>
                              <% if product.status%>
                                <li class="col-md-4 col-sm-6 col-xs-6 grid-item">
                                  <div class="product type-product has-post-thumbnail">
                                    <div class="product-image">
                                      <%=link_to product_path(product) do%>
                                      <img src="<%=product.image%>" alt="shop item">
                                      <%end%>

                                      <div class="product-action">
                                        <%=link_to product_path(product) do%>
                                        <i class="fa fa-heart-o"></i>
                                        <%end%>
                                        <%=link_to product_path(product) do%>
                                        <i class="fa fa-search-plus"></i>
                                        <%end%>
                                        <%=link_to product_path(product) do%>
                                        <i class="fa fa-list-ul"></i>
                                        <%end%>
                                      </div>
                                    </div>
                                    <h3>
                                      <%=link_to product.product_name, product_path(product)%>
                                    </h3>
                                    <div class="price">
                                      <span class="woocommerce-Price-amount amount"><%=number_to_currency(product.product_price)%></span>
                                    </div>
                                    <div class="product-info">
                                      <div class="star-rating">
                                        <span>
                                          <strong class="rating">4</strong>
                                          out of 5,
                                        </span>
                                      </div>
                                      <%=link_to "Show Detail", product_path(product), class: "button add_to_cart_button"%>
                                    </div>
                                  </div>
                                </li>
                              <% end %>
                            <%end%>
                        </ul>

                        <%= paginate @products %>
                    </div>
                </div>
                <div class="col-md-3 col-md-pull-9">
                    <div id="secondary" class="sidebar-shop">

                        <section class="widget woocommerce widget_list_categories_product">
                            <!--widget_product_categories-->
                            <h2 class="widget-title">Products</h2>
                            <ul class="product-categories">
                              <%@types.each do |type|%>
                                <li id="<%=type.type_name.upcase.delete(' ')%>" >
                                  <a data-toggle="collapse" href="#<%=type.type_name.downcase.delete(' ')%>-<%=type.id%>" class="medusae-collapse collapsed" aria-expanded="false" aria-controls="laptop">
                                    <i class="fa fa-laptop"></i>
                                    <%=type.type_name.upcase%>
                                  </a>
                                  <ul id="<%=type.type_name.downcase.delete(' ')%>-<%=type.id%>" class="collapse" aria-expanded="false">
                                    <%type.brands.distinct.each do |brand|%>
                                      <li>
                                        <%=link_to brand_path(brand) do%>
                                          <i class="fa fa-laptop"></i>
                                          <%=brand.brand_name.upcase%>
                                        <%end%>
                                      </li>
                                    <%end%>
                                  </ul>
                                </li>
                              <%end%>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
 </div>
</div>
<%=render "components/front/footer"%>
