<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
      <%if yield(:title).present?%>
        <%= yield(:title) %>
      <%else%>
        <%= "tgshobbycambodia.com"%>
      <%end%>
    </title>

    <%if yield(:meta_description).present?%>
      <meta name="description" content="<%= yield(:meta_description)%>">
    <%else%>
      <meta name="description" content="<%="No description"%>">
    <%end%>

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <%= stylesheet_link_tag 'front_end_application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="woocommerce woocommerce-page">

    <%= yield %>
    <%= javascript_include_tag 'front_end_application', 'data-turbolinks-track': 'reload' %>
    <%=custom_flash_message%>
    <script type="text/javascript">
      $(document).ready(function(){
        <%@types.limit(1).each do |type|%>
          <%if type.id.present?%>
            $('.type-<%=type.id%>').addClass('active');
          <%end%>
        <%end%>
      });
    </script>
  </body>
</html>
